{
  "extends": "airbnb-base",
  "plugins": ["import"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "no-console": "off"
  },
  "env": {
    "jest": true
  }
}
